body {
    background: whitesmoke !important;
}

.backgroundFirstPlan {
    background: #13204d !important;
}

.backgroundSecondPlan {
    background: #3d809d !important;
}

.annulerBTN_Z:hover {
    background: #13204d !important;
    color: white;
}

.profil-post {
    max-width: 50px !important;
    border-radius: 50%;
}

.UserProfil_qrs {
    max-width: 70px !important;
    border-radius: 50%;
}

.profil-commente {
    max-width: 35px !important;
    border-radius: 50%;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.bloc_Parent_commentaire {
    height: fit-content;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hideurClass {
    display: none !important;
    transition: .2s ease-in;
}

.hideur {
    display: none;
    transition: .2s ease-in;
}

.comentaireInput {
    font-size: 20px;
    color: #071035;
}

.liker {
    color: #07175a;
}

.fa-paper-plane {
    font-size: 2rem;
}

.faIconsBnt:hover {
    color: #071035;
    transform: scale(1.2);
}

.linkImageH:hover {
    transform: scale(1.2);
}

.btnPoster:hover {
    transform: scale(1.2);
    /* transform: rotate(180deg); */
}

.togleIconCommente {
    color: #071035 !important;
    transform: scale(1.1);
}

.les_commentaires {
    max-height: 230px !important;
    overflow: auto
}

.user_a_Commente {
    color: #071755 !important;
    font-size: 13px;
    font-weight: bold;
    font-style: oblique;
}

.showcommentaire:hover {
    color: #071755 !important;
    transform: scale(1.1);
}

.reactionAuthers {
    display: flex;
    background: #b5b7be;
}

.reagir {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
}

.commenter {
    margin-left: 100px;
    margin-right: 100px;
}

.entete_article {
    position: relative;
    background: #3d809d !important;
    color: aliceblue;
    font-weight: bold;
    height: 3.2rem !important;
}

.border-munted {
    border-width: 1px !important;
}

.titre_article {
    font-size: 15px;
    font-weight: bold;
    color: rgb(3, 3, 34);
}

.card {
    background: rgba(10, 10, 10, 0.048) !important;
}

.messageBtn {
    margin-left: 15% !important;
}

.btn-profil {
    margin-right: 10% !important;
}

.btn_evenement {
    margin-right: 10% !important;
    margin-left: 10% !important;
}

ul {
    list-style: none;
    text-decoration: none;
}

.list_notification {
    padding: 5px;
    position: absolute;
    background: #13204d;
    z-index: 2;
    display: none;
}

.btn-head {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butto_badge {
    background-color: red;
    width: 22px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -6px;
    right: -7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: .6s ease-in-out;
}

.list_notification>li {
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5px;
}

.list_notification>li>a {
    font-weight: bold;
    color: antiquewhite;
}

.titreT {
    font-size: .7rem;
    font-family: cursive;
    font-weight: normal;
}

.titreT>span {
    font-size: .9rem;
    font-family: monospace;
    font-weight: bold;
}

.boxeShadower {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn_user_profil {
    width: 50px;
}

.entete {
    height: 87px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.lesIconDeHeader {
    margin-left: 20% !important;
}

.notifUser {
    position: relative;
}

.notifUser span {
    position: absolute;
    top: -5px;
    left: 6px;
}

.sub_btn_profi>li {
    font-size: 20px !important;
}

.sub_btn_profi {
    background: #13204d !important;
    width: fit-content;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    z-index: 20;
    left: 65rem;
    top: 4rem;
    display: none;
    color: whitesmoke;
}

.btn_user_profil>i {
    margin-top: -40px;
    margin-left: 42px !important;
    font-size: 20px;
    color: #d7d8dd;
    filter: brightness(80%);
}

.sub_btn_profi>li:hover {
    color: azure;
    filter: brightness(100%);
    background: #070e29;
}

.sub_btn_profi>li>a {
    color: azure;
}

.sub_btn_profi>li:hover a {
    color: azure;
    filter: brightness(100%);
    background: #070e29;
    text-transform: none;
    text-decoration: none;
}

.btn_user_profil:hover i {
    /* transform: scale(1.2); */
    margin-top: -38px !important;
}

.sub_btn_profi>li {
    border-radius: 12px;
    padding-left: 6px;
}

.logOut:hover {
    color: azure !important;
    background: rgb(173, 10, 10) !important;
    /* filter: brightness(100%) !important; */
}

.logOut:hover a {
    color: azure !important;
    background: rgb(173, 10, 10) !important;
    /* filter: brightness(100%) !important; */
}

textarea, .title_eve {
    background: #6a6a6e !important;
    font-size: 20px !important;
    font-family: lato;
    color: #e5e6ec !important;
}

.date_Events {
    width: 60% !important;
}

.modal-evenement {
    width: 100rem !important;
}

.mediaBloc {
    width: 35% !important;
}

.sous_titre_evenement {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    background: #b4b4b891;
    width: 50% !important;
}

.details_evenement {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.imageDE_eve {
    width: 18% !important;
}

.singleEvene {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.detailsEvene {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.titreEVENEMENT {
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 20px;
    text-align: center;
}

nav {
    /* background: #13204d !important; */
    height: 80px !important;
    color: #dcdfe7 !important;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: 0 -5px 20px -5px #333;
    position: fixed !important;
    bottom: 0 !important;
    z-index: 200;
    margin-left: 5%;
    /* right: 5px; */
    width: 90%;
}

.imagePoster {
    height: 22rem !important;
    width: 95% !important;
}

.profil_content_P {
    width: 10rem !important;
    border: 2px solid dashed;
}

.content_feedBack_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.imgfeedback_profil {
    border-radius: 50%;
    border: 8px solid #13204d;
}

.nomPre_feedBack {
    color: #13204d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.feedBack_titre {
    font-size: 23px;
    font-family: lato;
}

.profil_partageDeux {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 4px solid #13204d;
}

.titre_feedBack_profil {
    font-size: 15px;
    color: #13204d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.items_feedback {
    background: #dcdfe7;
}

.Mbouton {
    border: 2px solid #13204d !important;
    background: rgb(226, 225, 231) !important;
    color: #13204d !important;
}

.Mbouton:hover {
    color: white !important;
    background: #13204d !important;
}

.boutonAllBlue {
    background: rgb(226, 225, 231) !important;
    color: #13204d !important;
}

.boutonAllBlue:hover {
    color: white !important;
    background: #13204d !important;
}

.img_user_commentaeur {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #2e33498c;
}

.commentaireMon {
    background: #cdcdd4;
    color: #030718;
}

.container_messagerier {
    width: 100%;
    height: 30rem;
    background: #0b0b200a;
    margin-bottom: 70px !important;
}

.les_sms_recus {
    height: 58rem;
    overflow: auto;
    /* background: red !important; */
}

.img_fromUser {
    width: 50px;
    border-radius: 50%;
}

.bloc_sms_from {
    height: 3rem;
    background: #03071833;
}

.header_echange_sms {
    background: #3d809d !important;
    /* background: #03071833 !important; */
    border-radius: 10px 10px 0px 0px;
    color: wheat;
}

.fil_sms_echange {
    height: 21rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto
}

.message_rep:focus {
    border: 2px solid #13204d;
}

.message_rep {
    background: rgb(233, 231, 231) !important;
    color: #071035 !important;
    padding: 1 !important;
    border: 1px solid #13204d;
}

.bloc_sms_from:hover {
    transform: scale(1.02);
    filter: brightness(70%);
}

.textBol {
    font-size: 15px;
    font-weight: bold;
    color: #030718 !important;
}

.btn_env_sms {
    font-size: 40px !important;
}

.btn_envoyer_message {
    background: #3d809d !important;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 184, 184);
}

.zone_echange {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: relative;
}

.authers_users {
    position: absolute;
    left: 75%;
    width: 25%;
    background: rgb(230, 225, 225);
}

.list_users_All {
    /* border: 3px solid red; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: .9s ease-in-out;
}

.laliste {
    padding-top: 28rem !important;
    /* border:1rem solid red !important; */
    overflow: auto;
    max-height: 15rem !important;
    padding-bottom: 5rem;
}

.list_users_All>div>div {
    font-size: 12px;
    font-weight: bold;
    color: red !important;
    background: #696a6e94;
    width: 100%;
}

.autherUser:hover {
    filter: brightness(70%);
}

.all_user {
    font-size: 13px !important;
    transition: .4s ease-in-out;
}

.all_user:hover {
    color: white !important;
    background: #13204d;
    font-weight: bold;
}

.noirSurBlan {
    color: white !important;
    background: #13204d;
}

.namFromsms {
    color: #4e0d79 !important;
    font-size: 10px !important;
    font-style: italic;
    font-family: cursive;
}

.searcheUser {
    line-height: 28px;
    border-radius: 12px;
    padding-left: 2px !important;
    outline-style: none !important;
    font-size: 15px !important;
    color: #13204d !important;
    font-weight: bold;
}

.sms_recus {
    width: fit-content !important;
    max-width: 300px !important;
    word-wrap: break-word;
    font-size: 16px !important;
    color: #13204d !important;
}

.sms_envoyer {
    width: fit-content !important;
    max-width: 300px !important;
    word-wrap: break-word;
    color: white;
    font-size: 16px !important;
}

.refresh_message {
    transition: .5s ease-in-out;
}

.refresh_message:hover {
    transform: rotate(180deg);
}

.smoll_fresh {
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.smal_logo {
    -webkit-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.margeTopFree {
    margin-top: 100px !important;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

/* Administration design */

.dangerAdmin {
    background: rgb(82, 4, 4) !important;
}

.side_bar {
    position: fixed;
    padding-top: 2rem;
    width: 210px;
    height: 20rem;
    background: #13204d;
    border-radius: 0 70px 0 0 !important;
}

.content_user_space_admin, .content_posts_space_admin, .content_events_space_admin {
    transition: .3s ease-in-out;
    margin-left: 210px;
    overflow: auto;
}

.admin-items {
    transition: .3s ease-in-out;
    width: 100% !important;
    padding-left: 2rem !important;
    color: white !important;
}

.admin-items:hover {
    background: whitesmoke !important;
    color: #13204d !important;
    letter-spacing: 0.2px;
    transition: .4s;
    border-left: 14px solid #13204d;
}

.dashbord {
    background: rgba(92, 93, 95, 0.411) !important;
}

.dashbord>div {
    width: 100% !important;
    border: 12px solid black;
    background: red !important;
}

.item_active {
    background: whitesmoke !important;
    color: #13204d !important;
    letter-spacing: 0.2px;
    transition: .4s;
    border-left: 14px solid #13204d;
}

tbody {
    height: 100px !important;
    overflow: auto !important;
    /* background: #071035 !important; */
}

.btn_edit_user:hover {
    color: #071035;
    transform: scale(1.2);
}

.btn_delete_user:hover {
    color: #8b1010;
    transform: scale(1.2);
}

.delele_btn_all:hover {
    color: #8b1010;
    transform: scale(1.2);
}

.update_btn_all:hover {
    color: #071035;
    transform: scale(1.2);
}

._btn_all:hover {
    color: #071035;
    transform: scale(1.2);
}

.z_new_user:hover {
    transform: scale(1.01);
    filter: brightness(60%);
}

/* design login page  */

.loginPageBody {
    margin-top: 0px !important;
    /* background-image: url(../images/cool-background.png); */
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #1509aa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2315148f' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23151f73' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23142a58' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2314353c' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23144021' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M100.86404857191822-49.796241769180746L71.71165332818563 34.868461607972364 213.2849060157816 36.26470278499468z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M218.82%2c525.315C272.651%2c524.461%2c316.646%2c487.067%2c343.194%2c440.23C369.326%2c394.127%2c378.267%2c337.549%2c351.01%2c292.102C324.391%2c247.719%2c270.558%2c231.62%2c218.82%2c232.855C169.491%2c234.032%2c123.169%2c256.252%2c97.123%2c298.161C69.505%2c342.599%2c62.711%2c398.167%2c87.419%2c444.286C113.464%2c492.902%2c163.674%2c526.19%2c218.82%2c525.315' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M220.568%2c785.305C277.364%2c789.052%2c331.361%2c755.174%2c358.134%2c704.945C383.535%2c657.29%2c373.5%2c599.457%2c343.594%2c554.492C316.819%2c514.235%2c268.915%2c498.442%2c220.568%2c498.113C171.511%2c497.78%2c119.032%2c510.252%2c94.613%2c552.801C70.274%2c595.21%2c87.926%2c645.661%2c111.217%2c688.655C136.053%2c734.5%2c168.541%2c781.873%2c220.568%2c785.305' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1065.255%2c457.993C1088.457%2c458.485%2c1109.669%2c444.907%2c1121.006%2c424.657C1132.089%2c404.861%2c1131.026%2c380.69%2c1119.457%2c361.175C1108.12%2c342.052%2c1087.484%2c330.925%2c1065.255%2c330.614C1042.442%2c330.295%2c1019.579%2c339.755%2c1008.364%2c359.623C997.307%2c379.211%2c1002.196%2c402.904%2c1013.457%2c422.375C1024.701%2c441.817%2c1042.801%2c457.516%2c1065.255%2c457.993' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1137.62248578343 191.63976484614355L1105.5471207725404 320.2870272680221 1266.2697482053086 223.7151298570331z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M885.175%2c645.042C916.796%2c643.737%2c947.801%2c630.416%2c962.943%2c602.625C977.538%2c575.838%2c970.939%2c543.402%2c954.586%2c517.651C939.477%2c493.86%2c913.358%2c480.251%2c885.175%2c480.166C856.832%2c480.08%2c831.188%2c493.941%2c815.033%2c517.229C795.817%2c544.931%2c779.212%2c579.982%2c795.432%2c609.538C812.02%2c639.765%2c850.724%2c646.464%2c885.175%2c645.042' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
}

.section_wellcom {
    margin-top: 7rem !important;
    /* margin-bottom: auto !important; */
}

.section_wellcom>span {
    color: #13204d;
    padding: 2px;
    background: rgba(245, 245, 245, 0.459);
    text-align: center;
    width: 40rem;
    display: block
}

.section_connexion {
    margin-top: 7rem !important;
    padding: 4rem !important;
    background: #055c5c65 !important;
    width: 30rem !important;
}

/* design annuaire */

.memberAnnuaire {
    background: #3d809d34 !important;
    /* transition: 3s ease-in-out; */
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* design page profil user consulter */

.textColorBlue {
    color: #13204d
}

.dot_report:hover {
    color: #13204d
}

.colsult_user_profil {
    max-width: 10rem !important;
    max-height: 10rem !important;
    border-radius: 50%;
    border: 5px solid #13204d;
    padding: 0px !important;
}

.image_user_consulter {
    border: 7px solid #3d809d;
}

/* report */

.reportBlock {
    background: #13204d !important;
    color: white !important;
    transition: .5s ease-in-out;
    position: absolute;
    top: 2.3rem;
    left: 30rem;
}

.reportBlock span:hover {
    color: #e6101ad7 !important;
    background: white !important;
}

.reportBlock span {
    transition: .3s ease-in-out;
}

/* design page profil  */

.contien_img_profil {
    max-width: 10rem !important;
    max-height: 15rem !important;
    border-radius: 5%;
    border: 5px solid #13204d;
    padding: 1px !important;
}

.imgProfilUIser {
    border-radius: 8%;
    border: 7px solid #3d809d;
}

.item_active_Profil {
    color: white !important;
    background: #13204d !important;
}

.macitation, .bacgkroundBouge {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(313,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(113,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='23.429999999999996'%3E%3Cpath transform='translate(-112 -30.4) rotate(-34 1409 581) scale(0.7168)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='7.8100000000000005' transform='translate(-274 124) rotate(-12.8 800 450) scale(0.9613999999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-48.4 78) rotate(-178 401 736) scale(0.9613999999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='7.1'%3E%3Cpath transform='translate(744 50.4) rotate(-12.6 150 345) scale(1.0736)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='15.620000000000001' transform='translate(54 -360) rotate(-273.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-184 8) rotate(-45.6 1400 132) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #13204d;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.flex_recommanded_img {
    color: rgb(177, 177, 31);
    position: relative;
    animation: mymove 1s;
    animation-iteration-count: infinite;
}

@keyframes mymove {
    from {
        left: 2px;
    }
    to {
        right: 1px;
    }
}

/* design forum  */

.btn_creer_sujet, .retour_btn_forum {
    max-width: fit-content;
}

.les_sujet, .discussion {
    /* transition: 3s ease-in-out; */
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.user_profil_reagi {
    max-width: 50px !important;
    max-height: 50px !important;
    border-radius: 50% !important;
}

.reagitSujetF {
    background: #8689963d !important;
}

.myReactioSujet {
    background: #0c9c543d !important;
}

.rep_sujet:hover {
    color: #071035;
    transform: scale(1.2);
}

.btbt {
    padding: 5px !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50px;
    background: rgba(79, 135, 199, 0.637);
}

.textareaRepSujet {
    background: rgba(255, 255, 255, 0.473) !important;
    color: rgb(3, 3, 34) !important;
}